<!-- Extending the base template including the header -->
{% extends "base.html"%}

<!-- Content for the Page -->
{% block content%}
<div class="content home">
  <form class="login-form" action="/api/login" method="post">
    <h2 class="login-form__header">Login</h2>
    <div class="login-form__element field">
      <label for="email" class="login-form__label">Email ID</label>
      <input name="email" type="email" class="login-form__input" />
    </div>
    <div class="login-form__element field">
      <label for="password" class="login-form__label">Password</label>
      <input name="password" type="password" class="login-form__input" />
    </div>
    <div class="login-form__element button">
      <input type="submit" value="Login" class="login-form__button" />
    </div>
  </form>
</div>
{% endblock content%}
