{% macro render(props) -%}
<div class="subscription-form__header">{{props.header}}</div>
<form class="subscription-form__form" action="{{props.endpoint}}" method="post">
  {%for field in props.fields%}
  <div class="subscription-form__element field">
    <label for="{{field.value}}" class="subscription-form__label"
      >{{field.display_name}}</label
    >
    <input
      name="{{field.value}}"
      class="subscription-form__input"
      type="{{field.input_type}}"
      value="{{field.default_value}}"
      {%
      if
      field.disabled
      %}readonly{%
      endif
      %}
      required
    />
  </div>
  {% endfor%}
  <div class="subscription-form__element button">
    <input
      type="submit"
      value="{{props.button}}"
      class="subscription-form__button"
    />
  </div>
</form>
{%- endmacro %}
