<!DOCTYPE html>
<html>
  <head>
    <title>Tor-Weather</title>
    <!-- Link for the icon font file -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <!-- Link for the font file -->
    <link rel="stylesheet" href="https://use.typekit.net/zdn8whg.css" />
    <!-- Link for the css file -->
    {% assets "main_scss" %}
    <link rel="stylesheet" href="{{ASSET_URL}}" />
    {% endassets %}
    <!-- Link for the javascript file -->
    <script
      src="{{ url_for('static', filename='scripts/main.js') }}"
      defer
    ></script>
  </head>
  <body>
    <!-- Rendering the header-->
    {% if header %}
    <!-- Step-1: Importing the header template -->
    {% import "components/header.html" as headerTemplate%}
    <!-- Step-2: Rendering header with the necessary parameters -->
    {{ headerTemplate.render(header)}}
    <!-- Calling the endif -->
    {% endif %}

    <!-- Rendering the snackbar -->
    {% with snackbar = get_flashed_messages(with_categories=true) %} {% if
    snackbar %}
    <!-- Step-1: Importing the snackbar template -->
    {% import "components/snackbar.html" as snackbarTemplate%}
    <!-- Step-2: Rendering the snackbar with the neccessary params -->
    {{ snackbarTemplate.render(snackbar, is_dashboard) }}
    <!-- Calling the endif -->
    {% endif %} {% endwith %}

    <!-- Block for adding content in the base template -->
    {% block content %} {% endblock%}
  </body>
</html>
