$purple: #7d4698;
$dark-purple: #59316b;
$grey: #f8f9fa;
$dark-grey: #333a41;
$white: #ffffff;
$black: #212427;

// States
$success: #68b030;
$warning: #ffcc00;
$error: #cc3300;

// Dashboard
$sidebar-option: #6e7689;
$sidebar-category: #a4a8c3;
$sidebar-option-selected: #34425f;
$sidebar-option-selected-background: #f3f2f6;
$sidebar-separator: #f7f8f9;

$breadcrumb-inactive: #8489a3;
$breadcrumb-active: #1f304f;
