@import "../../colors.scss";

.breadcrumb {
  height: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  &__level {
    font-size: 1.2rem;
    color: $breadcrumb-inactive;
    &:not(:last-child) {
      &::after {
        content: "chevron_right";
        font-family: "Material Icons Outlined";
        font-size: 1.5rem;
        vertical-align: bottom;
        margin: 0 0.15rem;
      }
    }
    &:last-of-type {
      color: $breadcrumb-active;
    }
  }
}
