@import "../../colors.scss";

.snackbar {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 20rem;
  text-overflow: wrap;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  animation: low-fadein 0.75s;
  -webkit-animation: low-fadein 0.75s;
  &.dashboard {
    top: 2rem;
    animation: high-fadein 0.75s;
    -webkit-animation: high-fadein 0.75s;
  }
  &.success {
    background: $success;
  }
  &.warning {
    background: $warning;
  }
  &.error {
    background: $error;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes low-fadein {
  from {
    top: 8rem;
    opacity: 0;
  }
  to {
    top: 6rem;
    opacity: 1;
  }
}

@keyframes low-fadein {
  from {
    top: 8rem;
    opacity: 0;
  }
  to {
    top: 6rem;
    opacity: 1;
  }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes high-fadein {
  from {
    top: 4rem;
    opacity: 0;
  }
  to {
    top: 2rem;
    opacity: 1;
  }
}

@keyframes high-fadein {
  from {
    top: 4rem;
    opacity: 0;
  }
  to {
    top: 2rem;
    opacity: 1;
  }
}
